---
layout: default
heading: Anonymized Research Data Visualization
---

<div class="container-fluid">
  <div class='row'>
    <div class='col-lg-12'>
      <h1>{{ page.heading }}</h1>
      <p>Thank you for visiting our research data page. This website provides information about our research on anonymized data visualization, statistical modeling, and policies related to this research.</p>
      <br>
      <p>The industry related to our anonymized data is evolving rapidly, influencing markets and regulations globally. Our research group focuses on measuring the trends around this industry, assessing media sentiment, and analyzing the impact of regulatory events. By coding and modeling these factors, we aim to understand their influence on industry trends and public perception. Our work primarily utilizes data from major regions, including Region 1, Region 2, Region 3, and Region 4.</p>
      <hr>
      <h2>Media Article Visualization</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/cumulative_articles_line_chart.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_over_time_by_month.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_distribution_by_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/articles_heatmap.html %}
    </div>  
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/world_media_data_heatmap.html %}
    </div>   
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/99media_articles_calendar_2023.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2022.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2021.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2019.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2018.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2017.html %}
    </div>            
  </div>
  <hr>
  <h2>Sentiment Analysis Visualization</h2>
<div class='row'>

  <div class='col-lg-6 col-sm-12'>
    {% include charts/27us_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27fr_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27isr_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27italy_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27sg_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27uk_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4usa_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4france_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4israel_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4italy_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4singapore_sentiment_over_time.html %}
  </div>
  
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4uk_sentiment_over_time.html %}
  </div>
  <h3> Roberta-large Model Sentiment Analysis Visualization</h3>
  <div class='col-lg-12'>
    <ul>
      <li><b>Roberta-large Model:</b> The following charts provide additional insights into the distribution of sentiment scores and sentiment labels by region, derived using the fine-tuned roberta-large model. These visualizations help to understand variations in sentiment intensity and proportions across different regions.</li>
      <li><b>Sentiment Score Distribution by Region and Sentiment:</b> The sentiment score distribution chart shows the confidence level of the sentiment classification for each region, while the sentiment label distribution indicates the overall positivity, negativity, or neutrality observed in media articles over time.</li>
    </ul>
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/sep-sentiment_distribution_by_country.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/sep-sentiment_score_distribution_by_country_grouped.html %}
  </div>

</div>

  <hr>
  <h2>Regulatory Event Data Visualization</h2>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_events_us.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_events_by_year_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/total_events_rose_plot.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/country_level_regulatory_events_by_year_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/industry_event_focus_area.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_industry_level_events_by_year_country.html %}
    </div>
    <hr>
    <h3>2024-09-06 Update Regulatory Event Visualization</h3>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/bar_chart_focus_area.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/pie_chart_by_scope.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/stacked_bar_top_countries.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/us_map_events.html %}
    </div>

  </div>
  <hr>
  {% include footer.html %}
</div>
</div>