---
layout: default
heading: Lab-Grown Meat Data Visualization
---

<div class="container-fluid">
  <div class='row'>
    <div class='col-lg-12'>
      <h1>{{ page.heading }}</h1>
      <p>Thank you for visiting our Lab-Grown Meat page. This website provides information about our research on lab-grown meat data visualization, statistical modeling, and policies related to lab-grown meat.</p>
      <br>
      <p>The lab-grown meat industry is evolving rapidly, influencing markets and regulations globally. Our research group focuses on measuring the hype around this industry, assessing media sentiment, and analyzing the impact of regulatory events. By coding and modeling these factors, we aim to understand their influence on industry trends and public perception. Our work primarily utilizes data from major countries, including the US, UK, Israel, France, Italy, and Singapore.</p>
      <hr>
      <h2>Media Article Visualization</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/cumulative_articles_line_chart.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_over_time_by_month.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_distribution_by_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/articles_heatmap.html %}
    </div>  
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/world_media_data_heatmap.html %}
    </div>   
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/99media_articles_calendar_2023.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2022.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2021.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2019.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2018.html %}
    </div> 
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/media_articles_calendar_2017.html %}
    </div>            
  </div>
  <hr>
  <h2>Sentiment Analysis Visualization</h2>
<div class='row'>

  <div class='col-lg-6 col-sm-12'>
    {% include charts/27us_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27fr_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27isr_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27italy_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27sg_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/27uk_media_sentiment_article_count_with_events.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4usa_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4france_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4israel_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4italy_sentiment_over_time.html %}
  </div>
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4singapore_sentiment_over_time.html %}
  </div>
  
  <div class='col-lg-6 col-sm-12'>
    {% include charts/4uk_sentiment_over_time.html %}
  </div>

</div>

  <hr>
  <h2>Regulatory Event Data Visualization</h2>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_events_us.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_events_by_year_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/total_events_rose_plot.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/country_level_regulatory_events_by_year_country.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/industry_event_focus_area.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_industry_level_events_by_year_country.html %}
    </div>
  </div>
  <hr>
  {% include footer.html %}
</div>
