---
layout: default
heading: Lab-Grown Meat Data Visualization
---

<div class="container-fluid">
  <div class='row'>
    <div class='col-lg-12'>
      <h1>{{ page.heading }}</h1>
      {{ site.description }}
      <hr>
      <h2>Media Article Visualization</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/cumulative_articles_line_chart.html %}
    </div>
    <div class='col-lg-6 col-sm-12'>  
      {% include charts/articles_heatmap.html %}
    </div>         
  </div>
  <hr>
  <h2>Regulatory Event Data Visualization</h2>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      {% include charts/regulatory_events_us.html %}
    </div>
  </div>
  <hr>
  {% include footer.html %}
</div>

