<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="89994c2c4c7045aca97dd142ac000526" class="chart-container" style="width:1000px; height:600px; "></div>
    <script>
        var chart_89994c2c4c7045aca97dd142ac000526 = echarts.init(
            document.getElementById('89994c2c4c7045aca97dd142ac000526'), 'white', {renderer: 'canvas'});
        var option_89994c2c4c7045aca97dd142ac000526 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "France",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1995-02",
                    0.46085912795686795
                ],
                [
                    "2000-12",
                    -0.06627304800407814
                ],
                [
                    "2004-05",
                    0.10241632363448999
                ],
                [
                    "2005-03",
                    0.2239213229276659
                ],
                [
                    "2005-04",
                    -0.219722457733622
                ],
                [
                    "2007-04",
                    0.62089120070018
                ],
                [
                    "2008-04",
                    0.02015045211358536
                ],
                [
                    "2008-06",
                    0.08630274513125444
                ],
                [
                    "2009-03",
                    0.0
                ],
                [
                    "2010-03",
                    0.22082770044894026
                ],
                [
                    "2010-08",
                    0.16094379124341002
                ],
                [
                    "2010-09",
                    0.0
                ],
                [
                    "2011-02",
                    -0.020268505686279973
                ],
                [
                    "2011-04",
                    0.0
                ],
                [
                    "2011-06",
                    0.30089446678913445
                ],
                [
                    "2011-07",
                    0.0873564581000713
                ],
                [
                    "2011-08",
                    0.1367911958838768
                ],
                [
                    "2011-09",
                    0.10058986952713125
                ],
                [
                    "2011-10",
                    -0.03467709861003496
                ],
                [
                    "2011-11",
                    0.057232651442803234
                ],
                [
                    "2012-02",
                    0.013770251078136436
                ],
                [
                    "2012-03",
                    -0.10571917373677252
                ],
                [
                    "2012-05",
                    -0.004990599913174614
                ],
                [
                    "2012-07",
                    0.03365473419739654
                ],
                [
                    "2012-11",
                    0.0
                ],
                [
                    "2013-02",
                    0.03485702288443168
                ],
                [
                    "2013-03",
                    -0.37362275199413253
                ],
                [
                    "2013-04",
                    0.2927498216237272
                ],
                [
                    "2013-08",
                    0.09159123707312097
                ],
                [
                    "2013-09",
                    0.011335415704448003
                ],
                [
                    "2013-10",
                    -0.0912489588002305
                ],
                [
                    "2013-11",
                    -0.16779435611417556
                ],
                [
                    "2014-01",
                    -0.014135090241333935
                ],
                [
                    "2014-02",
                    0.29399526049584324
                ],
                [
                    "2014-03",
                    0.35767297936733533
                ],
                [
                    "2014-04",
                    0.08013081786542385
                ],
                [
                    "2014-05",
                    -0.021156642196110992
                ],
                [
                    "2014-07",
                    0.41654336210926496
                ],
                [
                    "2014-08",
                    -0.004151271122494814
                ],
                [
                    "2014-10",
                    0.051102998593037255
                ],
                [
                    "2014-12",
                    -0.0054487516888380985
                ],
                [
                    "2015-01",
                    0.1168128738591025
                ],
                [
                    "2015-03",
                    0.014529246144161524
                ],
                [
                    "2015-04",
                    0.12247264079361896
                ],
                [
                    "2015-05",
                    0.1447820978153016
                ],
                [
                    "2015-06",
                    0.004677668301381202
                ],
                [
                    "2015-07",
                    0.215619014365909
                ],
                [
                    "2015-08",
                    -0.05109418987905526
                ],
                [
                    "2016-01",
                    0.058133103870563016
                ],
                [
                    "2016-02",
                    0.22082373415102186
                ],
                [
                    "2016-06",
                    -0.015248526082566867
                ],
                [
                    "2016-08",
                    0.27007467603536767
                ],
                [
                    "2016-09",
                    0.09866141967416069
                ],
                [
                    "2016-10",
                    0.09859003931443068
                ],
                [
                    "2016-11",
                    0.26820439704869703
                ],
                [
                    "2017-03",
                    -0.06359352934319162
                ],
                [
                    "2017-04",
                    -0.029728938051142004
                ],
                [
                    "2017-06",
                    0.0030425025724825526
                ],
                [
                    "2017-07",
                    -0.14325912202925878
                ],
                [
                    "2017-08",
                    0.21148124943168453
                ],
                [
                    "2017-09",
                    0.05859621886924381
                ],
                [
                    "2017-10",
                    0.10329571947847023
                ],
                [
                    "2017-11",
                    -0.1032423016320918
                ],
                [
                    "2017-12",
                    0.06657844582776112
                ],
                [
                    "2018-01",
                    -0.01584477669311336
                ],
                [
                    "2018-02",
                    0.2692106717355905
                ],
                [
                    "2018-03",
                    -0.15694461266687285
                ],
                [
                    "2018-04",
                    -0.17348787485008813
                ],
                [
                    "2018-05",
                    0.2535259127695638
                ],
                [
                    "2018-06",
                    0.04986910396742365
                ],
                [
                    "2018-07",
                    0.10343779311907325
                ],
                [
                    "2018-08",
                    0.049861788839389534
                ],
                [
                    "2018-09",
                    -0.014876553969137148
                ],
                [
                    "2018-10",
                    0.09962937221845314
                ],
                [
                    "2018-11",
                    0.03429180721148647
                ],
                [
                    "2018-12",
                    -0.12134407638791558
                ],
                [
                    "2019-01",
                    0.0792840123692265
                ],
                [
                    "2019-02",
                    0.11686762534413273
                ],
                [
                    "2019-03",
                    0.7173994327952892
                ],
                [
                    "2019-04",
                    0.040856474114147466
                ],
                [
                    "2019-05",
                    0.12774171235431656
                ],
                [
                    "2019-06",
                    0.03618576325656061
                ],
                [
                    "2019-07",
                    0.12624965705380764
                ],
                [
                    "2019-08",
                    0.025438531388517392
                ],
                [
                    "2019-09",
                    0.08632408981677879
                ],
                [
                    "2019-10",
                    0.09274747441245422
                ],
                [
                    "2019-11",
                    0.13364248493074415
                ],
                [
                    "2019-12",
                    -0.006650672313267263
                ],
                [
                    "2020-01",
                    0.09126374960976431
                ],
                [
                    "2020-02",
                    0.04075372493078156
                ],
                [
                    "2020-03",
                    -0.05559855605969757
                ],
                [
                    "2020-04",
                    0.07537945524297662
                ],
                [
                    "2020-05",
                    0.06000441730445274
                ],
                [
                    "2020-06",
                    -1.3061447348531253e-17
                ],
                [
                    "2020-07",
                    -0.018581854174716847
                ],
                [
                    "2020-08",
                    -0.13994815648608766
                ],
                [
                    "2020-09",
                    0.24992044596094234
                ],
                [
                    "2020-10",
                    -0.0331714181274698
                ],
                [
                    "2020-11",
                    0.056984532650937295
                ],
                [
                    "2020-12",
                    0.05766562464449761
                ],
                [
                    "2021-01",
                    0.19361121675656218
                ],
                [
                    "2021-02",
                    0.1759995592503823
                ],
                [
                    "2021-03",
                    0.07015150718724629
                ],
                [
                    "2021-04",
                    0.06547846197192862
                ],
                [
                    "2021-05",
                    0.14343766782561676
                ],
                [
                    "2021-06",
                    0.13303335747082604
                ],
                [
                    "2021-07",
                    0.2679791007021092
                ],
                [
                    "2021-08",
                    0.04407433842605596
                ],
                [
                    "2021-09",
                    0.23344123552635213
                ],
                [
                    "2021-10",
                    -0.02317837049810665
                ],
                [
                    "2021-11",
                    0.06543508808682773
                ],
                [
                    "2021-12",
                    0.2918851905866183
                ],
                [
                    "2022-01",
                    0.12598913631309835
                ],
                [
                    "2022-02",
                    0.16013757954173755
                ],
                [
                    "2022-03",
                    0.124739427350617
                ],
                [
                    "2022-04",
                    0.18989433973566763
                ],
                [
                    "2022-05",
                    0.0905791850774784
                ],
                [
                    "2022-06",
                    0.2044771190280082
                ],
                [
                    "2022-07",
                    0.19907568733139788
                ],
                [
                    "2022-08",
                    0.1363546203232256
                ],
                [
                    "2022-09",
                    0.18609360343417114
                ],
                [
                    "2022-10",
                    0.10484893724982515
                ],
                [
                    "2022-11",
                    0.04589818594807685
                ],
                [
                    "2022-12",
                    0.08011829723509924
                ],
                [
                    "2023-01",
                    0.0847773738207948
                ],
                [
                    "2023-02",
                    -0.045265693763318376
                ],
                [
                    "2023-03",
                    0.16051944080592398
                ],
                [
                    "2023-04",
                    0.10448599645170374
                ],
                [
                    "2023-05",
                    0.0620230373550265
                ],
                [
                    "2023-06",
                    0.11308920968496806
                ],
                [
                    "2023-07",
                    0.21436892699167925
                ],
                [
                    "2023-08",
                    -0.051006421979417536
                ],
                [
                    "2023-09",
                    0.20560805857225517
                ],
                [
                    "2023-10",
                    0.013140846509675197
                ],
                [
                    "2023-11",
                    0.16069489289019473
                ],
                [
                    "2023-12",
                    0.29362293163260555
                ],
                [
                    "2024-01",
                    -0.1681700984673731
                ],
                [
                    "2024-02",
                    0.03707812458320323
                ],
                [
                    "2024-03",
                    -0.008286756196454826
                ],
                [
                    "2024-04",
                    0.2009425191565885
                ],
                [
                    "2024-05",
                    -0.02747607513897532
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.3
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "France"
            ],
            "selected": {},
            "show": true,
            "left": "right",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1995-02",
                "2000-12",
                "2004-05",
                "2005-03",
                "2005-04",
                "2007-04",
                "2008-04",
                "2008-06",
                "2009-03",
                "2010-03",
                "2010-08",
                "2010-09",
                "2011-02",
                "2011-04",
                "2011-06",
                "2011-07",
                "2011-08",
                "2011-09",
                "2011-10",
                "2011-11",
                "2012-02",
                "2012-03",
                "2012-05",
                "2012-07",
                "2012-11",
                "2013-02",
                "2013-03",
                "2013-04",
                "2013-08",
                "2013-09",
                "2013-10",
                "2013-11",
                "2014-01",
                "2014-02",
                "2014-03",
                "2014-04",
                "2014-05",
                "2014-07",
                "2014-08",
                "2014-10",
                "2014-12",
                "2015-01",
                "2015-03",
                "2015-04",
                "2015-05",
                "2015-06",
                "2015-07",
                "2015-08",
                "2016-01",
                "2016-02",
                "2016-06",
                "2016-08",
                "2016-09",
                "2016-10",
                "2016-11",
                "2017-03",
                "2017-04",
                "2017-06",
                "2017-07",
                "2017-08",
                "2017-09",
                "2017-10",
                "2017-11",
                "2017-12",
                "2018-01",
                "2018-02",
                "2018-03",
                "2018-04",
                "2018-05",
                "2018-06",
                "2018-07",
                "2018-08",
                "2018-09",
                "2018-10",
                "2018-11",
                "2018-12",
                "2019-01",
                "2019-02",
                "2019-03",
                "2019-04",
                "2019-05",
                "2019-06",
                "2019-07",
                "2019-08",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-07",
                "2020-08",
                "2020-09",
                "2020-10",
                "2020-11",
                "2020-12",
                "2021-01",
                "2021-02",
                "2021-03",
                "2021-04",
                "2021-05",
                "2021-06",
                "2021-07",
                "2021-08",
                "2021-09",
                "2021-10",
                "2021-11",
                "2021-12",
                "2022-01",
                "2022-02",
                "2022-03",
                "2022-04",
                "2022-05",
                "2022-06",
                "2022-07",
                "2022-08",
                "2022-09",
                "2022-10",
                "2022-11",
                "2022-12",
                "2023-01",
                "2023-02",
                "2023-03",
                "2023-04",
                "2023-05",
                "2023-06",
                "2023-07",
                "2023-08",
                "2023-09",
                "2023-10",
                "2023-11",
                "2023-12",
                "2024-01",
                "2024-02",
                "2024-03",
                "2024-04",
                "2024-05"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Trends in Media Sentiment on Lab-Grown Meat (France)",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_89994c2c4c7045aca97dd142ac000526.setOption(option_89994c2c4c7045aca97dd142ac000526);
    </script>
</body>
</html>
