<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="71cdd6419c1040408faafe7ed79a9817" class="chart-container" style="width:1000px; height:600px; "></div>
    <script>
        var chart_71cdd6419c1040408faafe7ed79a9817 = echarts.init(
            document.getElementById('71cdd6419c1040408faafe7ed79a9817'), 'white', {renderer: 'canvas'});
        var option_71cdd6419c1040408faafe7ed79a9817 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "Israel",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1994-06",
                    0.12770640594149768
                ],
                [
                    "2013-08",
                    0.04943128527931652
                ],
                [
                    "2015-11",
                    0.8381561470810028
                ],
                [
                    "2016-07",
                    0.36585167614509656
                ],
                [
                    "2016-12",
                    0.23476299881470505
                ],
                [
                    "2017-06",
                    0.21504246066633828
                ],
                [
                    "2017-09",
                    0.5497208939272668
                ],
                [
                    "2018-01",
                    1.120858086590183
                ],
                [
                    "2018-04",
                    0.5322425643845485
                ],
                [
                    "2018-05",
                    0.5733341569501827
                ],
                [
                    "2018-07",
                    1.6832620704311125
                ],
                [
                    "2018-12",
                    0.7728547333386067
                ],
                [
                    "2019-02",
                    0.12871554745762484
                ],
                [
                    "2019-03",
                    0.842001623092521
                ],
                [
                    "2019-05",
                    1.0793720283840775
                ],
                [
                    "2019-07",
                    0.4126851774550448
                ],
                [
                    "2019-09",
                    0.812463342308726
                ],
                [
                    "2019-10",
                    1.0735366649983915
                ],
                [
                    "2019-11",
                    0.49807525874437764
                ],
                [
                    "2019-12",
                    0.43079588415833353
                ],
                [
                    "2020-01",
                    0.47411370437299094
                ],
                [
                    "2020-02",
                    1.0344979218305275
                ],
                [
                    "2020-03",
                    1.251859975797907
                ],
                [
                    "2020-04",
                    1.2395368230125114
                ],
                [
                    "2020-05",
                    0.5182470011724872
                ],
                [
                    "2020-06",
                    0.633937116135486
                ],
                [
                    "2020-07",
                    0.42512353346982423
                ],
                [
                    "2020-08",
                    0.87362450250994
                ],
                [
                    "2020-10",
                    0.36373931700508594
                ],
                [
                    "2020-11",
                    0.4972951440448902
                ],
                [
                    "2020-12",
                    0.20501397237820257
                ],
                [
                    "2021-01",
                    0.8483299842760257
                ],
                [
                    "2021-02",
                    0.7190715798532042
                ],
                [
                    "2021-03",
                    1.185197428033629
                ],
                [
                    "2021-05",
                    1.14631752505831
                ],
                [
                    "2021-06",
                    0.7981529043245866
                ],
                [
                    "2021-07",
                    0.4697816256947849
                ],
                [
                    "2021-08",
                    0.6447457982284964
                ],
                [
                    "2021-09",
                    0.8760178336120074
                ],
                [
                    "2021-10",
                    0.6765138636313979
                ],
                [
                    "2021-11",
                    0.5207510497881563
                ],
                [
                    "2021-12",
                    0.6060264344399794
                ],
                [
                    "2022-01",
                    0.6084412933797919
                ],
                [
                    "2022-02",
                    0.5230344657222571
                ],
                [
                    "2022-03",
                    0.8561940915546482
                ],
                [
                    "2022-04",
                    0.8487294873301103
                ],
                [
                    "2022-05",
                    0.5721439324430332
                ],
                [
                    "2022-06",
                    0.46713135967342045
                ],
                [
                    "2022-07",
                    0.44670941988721713
                ],
                [
                    "2022-08",
                    0.3276223365996686
                ],
                [
                    "2022-09",
                    0.6450453560613149
                ],
                [
                    "2022-10",
                    0.4232549134002286
                ],
                [
                    "2022-11",
                    0.5414236652143729
                ],
                [
                    "2022-12",
                    0.7695504341160364
                ],
                [
                    "2023-01",
                    0.35056251764622587
                ],
                [
                    "2023-02",
                    0.6357727968071107
                ],
                [
                    "2023-03",
                    0.7077065306122874
                ],
                [
                    "2023-04",
                    0.5573379632100702
                ],
                [
                    "2023-05",
                    0.8835871553786777
                ],
                [
                    "2023-06",
                    0.6498447164513017
                ],
                [
                    "2023-07",
                    0.6191063331448782
                ],
                [
                    "2023-08",
                    0.17613062435064034
                ],
                [
                    "2023-09",
                    0.5157412124710007
                ],
                [
                    "2023-10",
                    1.301818849940906
                ],
                [
                    "2023-11",
                    0.47828195346720226
                ],
                [
                    "2023-12",
                    0.5035323072519128
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.3
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Israel"
            ],
            "selected": {},
            "show": true,
            "left": "right",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1994-06",
                "2013-08",
                "2015-11",
                "2016-07",
                "2016-12",
                "2017-06",
                "2017-09",
                "2018-01",
                "2018-04",
                "2018-05",
                "2018-07",
                "2018-12",
                "2019-02",
                "2019-03",
                "2019-05",
                "2019-07",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-07",
                "2020-08",
                "2020-10",
                "2020-11",
                "2020-12",
                "2021-01",
                "2021-02",
                "2021-03",
                "2021-05",
                "2021-06",
                "2021-07",
                "2021-08",
                "2021-09",
                "2021-10",
                "2021-11",
                "2021-12",
                "2022-01",
                "2022-02",
                "2022-03",
                "2022-04",
                "2022-05",
                "2022-06",
                "2022-07",
                "2022-08",
                "2022-09",
                "2022-10",
                "2022-11",
                "2022-12",
                "2023-01",
                "2023-02",
                "2023-03",
                "2023-04",
                "2023-05",
                "2023-06",
                "2023-07",
                "2023-08",
                "2023-09",
                "2023-10",
                "2023-11",
                "2023-12"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Trends in Media Sentiment on Lab-Grown Meat (Israel)",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_71cdd6419c1040408faafe7ed79a9817.setOption(option_71cdd6419c1040408faafe7ed79a9817);
    </script>
</body>
</html>
