<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="adda993402f34cb898548b72f85fb94d" class="chart-container" style="width:1000px; height:600px; "></div>
    <script>
        var chart_adda993402f34cb898548b72f85fb94d = echarts.init(
            document.getElementById('adda993402f34cb898548b72f85fb94d'), 'white', {renderer: 'canvas'});
        var option_adda993402f34cb898548b72f85fb94d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "Italy",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1999-11",
                    0.006137498819374916
                ],
                [
                    "2000-11",
                    -0.0717542262644661
                ],
                [
                    "2001-04",
                    -0.07590814176298114
                ],
                [
                    "2006-09",
                    0.13925056211191694
                ],
                [
                    "2008-04",
                    0.0056270814243061
                ],
                [
                    "2008-08",
                    0.00348150508914529
                ],
                [
                    "2009-07",
                    -0.03497629999174267
                ],
                [
                    "2009-09",
                    0.04243218919376293
                ],
                [
                    "2010-08",
                    0.25285889877393025
                ],
                [
                    "2010-10",
                    -0.1046297417779152
                ],
                [
                    "2011-06",
                    0.219722457733622
                ],
                [
                    "2011-07",
                    -0.16181764712110208
                ],
                [
                    "2011-09",
                    0.04567028309635654
                ],
                [
                    "2011-10",
                    0.15694461266687285
                ],
                [
                    "2011-11",
                    0.0
                ],
                [
                    "2012-01",
                    0.13732653608351375
                ],
                [
                    "2012-02",
                    0.049485673285838756
                ],
                [
                    "2012-08",
                    0.33850627513777637
                ],
                [
                    "2012-09",
                    0.2312273734345247
                ],
                [
                    "2013-07",
                    0.11938704050682204
                ],
                [
                    "2013-08",
                    0.03076844083998447
                ],
                [
                    "2013-11",
                    0.13316512589916485
                ],
                [
                    "2014-05",
                    0.17745994227563616
                ],
                [
                    "2014-06",
                    0.23645338873484378
                ],
                [
                    "2014-09",
                    -0.021751303120338045
                ],
                [
                    "2014-10",
                    0.14455424850896184
                ],
                [
                    "2015-01",
                    0.0
                ],
                [
                    "2015-02",
                    -0.0439444915467244
                ],
                [
                    "2015-03",
                    -0.09618185840075351
                ],
                [
                    "2015-05",
                    0.1067074941150788
                ],
                [
                    "2015-06",
                    0.34864175118794155
                ],
                [
                    "2015-08",
                    0.0
                ],
                [
                    "2015-10",
                    0.040152356037386504
                ],
                [
                    "2016-04",
                    -0.1868949107919185
                ],
                [
                    "2016-07",
                    0.21881523095878994
                ],
                [
                    "2016-08",
                    0.04327068441224674
                ],
                [
                    "2016-10",
                    0.0
                ],
                [
                    "2017-01",
                    0.01925676955425454
                ],
                [
                    "2017-03",
                    0.12343488897266836
                ],
                [
                    "2017-04",
                    0.35037676988845934
                ],
                [
                    "2017-05",
                    0.14329725504366653
                ],
                [
                    "2017-06",
                    0.1777114356002133
                ],
                [
                    "2017-07",
                    0.1399308102508932
                ],
                [
                    "2017-08",
                    0.12643006044712812
                ],
                [
                    "2017-09",
                    -0.06997556141017826
                ],
                [
                    "2017-10",
                    0.32791789527774273
                ],
                [
                    "2017-12",
                    0.12267285329698162
                ],
                [
                    "2018-01",
                    -0.03101253901191682
                ],
                [
                    "2018-02",
                    0.18399508728465053
                ],
                [
                    "2018-04",
                    0.3805653047154275
                ],
                [
                    "2018-05",
                    0.09839802657846522
                ],
                [
                    "2018-06",
                    0.23901361501990612
                ],
                [
                    "2018-07",
                    0.005948392358228801
                ],
                [
                    "2018-08",
                    0.14455424850896184
                ],
                [
                    "2018-09",
                    0.6377782605289393
                ],
                [
                    "2018-10",
                    0.14648163848908133
                ],
                [
                    "2018-11",
                    0.06642659952222052
                ],
                [
                    "2018-12",
                    0.0
                ],
                [
                    "2019-01",
                    0.1794073402021903
                ],
                [
                    "2019-02",
                    0.017894512746570966
                ],
                [
                    "2019-03",
                    0.2161137034266144
                ],
                [
                    "2019-04",
                    0.5119572806674313
                ],
                [
                    "2019-05",
                    0.17430187666648136
                ],
                [
                    "2019-06",
                    0.12659142010174268
                ],
                [
                    "2019-07",
                    -0.2728577918680954
                ],
                [
                    "2019-08",
                    0.2186007389321666
                ],
                [
                    "2019-09",
                    0.15088871271842658
                ],
                [
                    "2019-10",
                    0.09305174940756007
                ],
                [
                    "2019-11",
                    0.14133255886357204
                ],
                [
                    "2019-12",
                    0.05646171113876512
                ],
                [
                    "2020-01",
                    0.47775886988942545
                ],
                [
                    "2020-02",
                    0.059608811571633336
                ],
                [
                    "2020-03",
                    0.109861228866811
                ],
                [
                    "2020-04",
                    -0.6770125502755525
                ],
                [
                    "2020-05",
                    0.16606827214993908
                ],
                [
                    "2020-06",
                    0.019053501301172504
                ],
                [
                    "2020-08",
                    0.20802717504347187
                ],
                [
                    "2020-09",
                    0.11196066146383293
                ],
                [
                    "2020-10",
                    0.160837032115722
                ],
                [
                    "2020-12",
                    0.01885916565539904
                ],
                [
                    "2021-01",
                    0.22179146377126682
                ],
                [
                    "2021-02",
                    0.14951082412808323
                ],
                [
                    "2021-03",
                    0.05345799303257789
                ],
                [
                    "2021-04",
                    0.1867025004498485
                ],
                [
                    "2021-05",
                    0.10470977804757386
                ],
                [
                    "2021-06",
                    0.052993890541420494
                ],
                [
                    "2021-07",
                    0.09704888683771702
                ],
                [
                    "2021-08",
                    0.05410635890734973
                ],
                [
                    "2021-09",
                    0.22655409955486852
                ],
                [
                    "2021-10",
                    0.07112578359543185
                ],
                [
                    "2021-11",
                    0.09227899863631016
                ],
                [
                    "2021-12",
                    -0.06893588829622384
                ],
                [
                    "2022-01",
                    0.1558472283416952
                ],
                [
                    "2022-02",
                    0.15070529332434499
                ],
                [
                    "2022-03",
                    0.10209780815741495
                ],
                [
                    "2022-04",
                    -0.07824307831032788
                ],
                [
                    "2022-05",
                    0.3093130612385408
                ],
                [
                    "2022-06",
                    -0.07300393293590922
                ],
                [
                    "2022-07",
                    0.019931449222629443
                ],
                [
                    "2022-08",
                    -0.10611539692780883
                ],
                [
                    "2022-09",
                    0.05786917694023961
                ],
                [
                    "2022-10",
                    -0.008616186520765599
                ],
                [
                    "2022-11",
                    -0.007817363402194662
                ],
                [
                    "2022-12",
                    0.05579396572499059
                ],
                [
                    "2023-01",
                    0.06560532971405533
                ],
                [
                    "2023-02",
                    0.08796381447868093
                ],
                [
                    "2023-03",
                    0.08681401611992288
                ],
                [
                    "2023-04",
                    0.07020819999615589
                ],
                [
                    "2023-05",
                    0.10320319522532793
                ],
                [
                    "2023-06",
                    0.08841625153683622
                ],
                [
                    "2023-07",
                    0.09309665160049704
                ],
                [
                    "2023-08",
                    0.014438980542829662
                ],
                [
                    "2023-09",
                    0.07249782504227528
                ],
                [
                    "2023-10",
                    0.12341970533886612
                ],
                [
                    "2023-11",
                    -0.018247268468632363
                ],
                [
                    "2023-12",
                    0.0466519665664689
                ],
                [
                    "2024-01",
                    -0.09314624873479428
                ],
                [
                    "2024-02",
                    -0.11895677274806857
                ],
                [
                    "2024-03",
                    0.018077093722944783
                ],
                [
                    "2024-04",
                    0.03762354684480445
                ],
                [
                    "2024-05",
                    -0.015155392775409619
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.3
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Italy"
            ],
            "selected": {},
            "show": true,
            "left": "right",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1999-11",
                "2000-11",
                "2001-04",
                "2006-09",
                "2008-04",
                "2008-08",
                "2009-07",
                "2009-09",
                "2010-08",
                "2010-10",
                "2011-06",
                "2011-07",
                "2011-09",
                "2011-10",
                "2011-11",
                "2012-01",
                "2012-02",
                "2012-08",
                "2012-09",
                "2013-07",
                "2013-08",
                "2013-11",
                "2014-05",
                "2014-06",
                "2014-09",
                "2014-10",
                "2015-01",
                "2015-02",
                "2015-03",
                "2015-05",
                "2015-06",
                "2015-08",
                "2015-10",
                "2016-04",
                "2016-07",
                "2016-08",
                "2016-10",
                "2017-01",
                "2017-03",
                "2017-04",
                "2017-05",
                "2017-06",
                "2017-07",
                "2017-08",
                "2017-09",
                "2017-10",
                "2017-12",
                "2018-01",
                "2018-02",
                "2018-04",
                "2018-05",
                "2018-06",
                "2018-07",
                "2018-08",
                "2018-09",
                "2018-10",
                "2018-11",
                "2018-12",
                "2019-01",
                "2019-02",
                "2019-03",
                "2019-04",
                "2019-05",
                "2019-06",
                "2019-07",
                "2019-08",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-08",
                "2020-09",
                "2020-10",
                "2020-12",
                "2021-01",
                "2021-02",
                "2021-03",
                "2021-04",
                "2021-05",
                "2021-06",
                "2021-07",
                "2021-08",
                "2021-09",
                "2021-10",
                "2021-11",
                "2021-12",
                "2022-01",
                "2022-02",
                "2022-03",
                "2022-04",
                "2022-05",
                "2022-06",
                "2022-07",
                "2022-08",
                "2022-09",
                "2022-10",
                "2022-11",
                "2022-12",
                "2023-01",
                "2023-02",
                "2023-03",
                "2023-04",
                "2023-05",
                "2023-06",
                "2023-07",
                "2023-08",
                "2023-09",
                "2023-10",
                "2023-11",
                "2023-12",
                "2024-01",
                "2024-02",
                "2024-03",
                "2024-04",
                "2024-05"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Trends in Media Sentiment on Lab-Grown Meat (Italy)",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_adda993402f34cb898548b72f85fb94d.setOption(option_adda993402f34cb898548b72f85fb94d);
    </script>
</body>
</html>
