<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="156c00096bc14fc9b6eb4a8a000d68a5" class="chart-container" style="width:1000px; height:600px; "></div>
    <script>
        var chart_156c00096bc14fc9b6eb4a8a000d68a5 = echarts.init(
            document.getElementById('156c00096bc14fc9b6eb4a8a000d68a5'), 'white', {renderer: 'canvas'});
        var option_156c00096bc14fc9b6eb4a8a000d68a5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "UK",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1987-11",
                    0.3555703650597964
                ],
                [
                    "1989-06",
                    0.18510124005845782
                ],
                [
                    "1992-02",
                    0.7040611220322607
                ],
                [
                    "1995-06",
                    -0.01979248450713018
                ],
                [
                    "1995-12",
                    -0.10523826123318482
                ],
                [
                    "1996-03",
                    -0.5300658840500226
                ],
                [
                    "1996-08",
                    0.33830135595767186
                ],
                [
                    "1997-05",
                    0.3314374850296236
                ],
                [
                    "1999-08",
                    0.012750218827595323
                ],
                [
                    "1999-11",
                    -0.02102951478882578
                ],
                [
                    "1999-12",
                    0.03507300060642476
                ],
                [
                    "2000-07",
                    0.1694010517167571
                ],
                [
                    "2001-01",
                    0.10647697693507353
                ],
                [
                    "2001-04",
                    -0.3646510832296833
                ],
                [
                    "2001-10",
                    0.5035377192014961
                ],
                [
                    "2003-05",
                    0.3404292922304934
                ],
                [
                    "2003-09",
                    0.4779430260737904
                ],
                [
                    "2004-03",
                    -0.04496305146344376
                ],
                [
                    "2005-08",
                    0.12485026248403085
                ],
                [
                    "2005-09",
                    -0.0729750891094273
                ],
                [
                    "2005-10",
                    0.7110696122978825
                ],
                [
                    "2006-03",
                    0.27503635416637323
                ],
                [
                    "2006-08",
                    0.09586895389960108
                ],
                [
                    "2006-09",
                    0.04256880198049917
                ],
                [
                    "2006-11",
                    0.590990634530917
                ],
                [
                    "2007-01",
                    -0.013118716049451942
                ],
                [
                    "2007-08",
                    0.5745922573870466
                ],
                [
                    "2008-01",
                    0.1943597034127407
                ],
                [
                    "2008-02",
                    0.6661218236969766
                ],
                [
                    "2008-04",
                    0.2160447761650306
                ],
                [
                    "2008-05",
                    0.08528762843380244
                ],
                [
                    "2008-07",
                    -0.18014843513782416
                ],
                [
                    "2008-10",
                    0.21889434334102445
                ],
                [
                    "2008-11",
                    0.28197724417327963
                ],
                [
                    "2009-01",
                    -0.014989199701110635
                ],
                [
                    "2009-04",
                    -0.0199353868440983
                ],
                [
                    "2009-06",
                    0.026917778929696948
                ],
                [
                    "2009-07",
                    0.5464369645527989
                ],
                [
                    "2009-09",
                    0.6957312116492723
                ],
                [
                    "2009-11",
                    0.24497606285172852
                ],
                [
                    "2009-12",
                    0.31878494348951225
                ],
                [
                    "2010-06",
                    0.16013353268038852
                ],
                [
                    "2010-07",
                    1.5091925941548412
                ],
                [
                    "2010-08",
                    0.13279126145679798
                ],
                [
                    "2010-09",
                    0.39327943276208
                ],
                [
                    "2010-11",
                    -0.11589843792760608
                ],
                [
                    "2010-12",
                    0.5285365668414791
                ],
                [
                    "2011-01",
                    -0.13732653608351336
                ],
                [
                    "2011-05",
                    0.4826544403807125
                ],
                [
                    "2011-06",
                    0.13820453204601593
                ],
                [
                    "2011-07",
                    0.3106147360988905
                ],
                [
                    "2011-09",
                    0.2046850409423499
                ],
                [
                    "2011-10",
                    -0.018902235046773692
                ],
                [
                    "2012-01",
                    0.32468120851795057
                ],
                [
                    "2012-02",
                    0.3206714722772824
                ],
                [
                    "2012-03",
                    0.004646861011231522
                ],
                [
                    "2012-04",
                    0.26903543081625886
                ],
                [
                    "2012-05",
                    0.3779809738666279
                ],
                [
                    "2012-06",
                    0.04485977708911959
                ],
                [
                    "2012-07",
                    0.3699031596725744
                ],
                [
                    "2012-08",
                    0.3281779856880827
                ],
                [
                    "2012-09",
                    0.008103090019365322
                ],
                [
                    "2012-10",
                    -0.0037596154739104127
                ],
                [
                    "2012-11",
                    0.2441360641484689
                ],
                [
                    "2012-12",
                    0.4525778801613857
                ],
                [
                    "2013-01",
                    0.22615065321989938
                ],
                [
                    "2013-02",
                    0.3501331014897303
                ],
                [
                    "2013-03",
                    0.4275879445819723
                ],
                [
                    "2013-04",
                    0.23708757039525183
                ],
                [
                    "2013-05",
                    0.8482522832562753
                ],
                [
                    "2013-07",
                    0.29244210993806685
                ],
                [
                    "2013-08",
                    0.28340684565992996
                ],
                [
                    "2013-09",
                    0.3268046564776606
                ],
                [
                    "2013-10",
                    0.524136679297878
                ],
                [
                    "2013-11",
                    0.31751103212797993
                ],
                [
                    "2013-12",
                    0.040942896514543345
                ],
                [
                    "2014-01",
                    0.40047519557662287
                ],
                [
                    "2014-02",
                    0.2640386777820336
                ],
                [
                    "2014-03",
                    0.3041240713548251
                ],
                [
                    "2014-04",
                    0.30839200810973644
                ],
                [
                    "2014-05",
                    0.1721771525265864
                ],
                [
                    "2014-06",
                    0.017028098060179707
                ],
                [
                    "2014-07",
                    0.1935847740761144
                ],
                [
                    "2014-08",
                    0.1454020029996905
                ],
                [
                    "2014-09",
                    0.31346310121652254
                ],
                [
                    "2014-10",
                    0.5864114061468276
                ],
                [
                    "2014-11",
                    0.12870645762147628
                ],
                [
                    "2014-12",
                    -0.47206026392634676
                ],
                [
                    "2015-01",
                    0.4824565630668071
                ],
                [
                    "2015-02",
                    0.6007284127176089
                ],
                [
                    "2015-03",
                    0.4823330617255943
                ],
                [
                    "2015-04",
                    0.13368261685661142
                ],
                [
                    "2015-05",
                    0.7558830861153305
                ],
                [
                    "2015-06",
                    0.2137547167726592
                ],
                [
                    "2015-07",
                    0.4636764028496425
                ],
                [
                    "2015-08",
                    0.13708322025555655
                ],
                [
                    "2015-09",
                    0.18749556150180363
                ],
                [
                    "2015-10",
                    0.3694915387817268
                ],
                [
                    "2015-11",
                    0.3621372395214834
                ],
                [
                    "2015-12",
                    0.16510398373220392
                ],
                [
                    "2016-01",
                    0.663882279866736
                ],
                [
                    "2016-02",
                    0.5249732758227279
                ],
                [
                    "2016-03",
                    0.4821204662173966
                ],
                [
                    "2016-04",
                    0.4754398986731859
                ],
                [
                    "2016-05",
                    0.5196229423243187
                ],
                [
                    "2016-06",
                    1.707516776212794
                ],
                [
                    "2016-07",
                    0.5186499079985272
                ],
                [
                    "2016-08",
                    0.3031500899911927
                ],
                [
                    "2016-09",
                    0.38579698505277393
                ],
                [
                    "2016-10",
                    0.239951357309799
                ],
                [
                    "2016-11",
                    0.6613485325170312
                ],
                [
                    "2016-12",
                    0.20732393294181645
                ],
                [
                    "2017-01",
                    0.2618888235823871
                ],
                [
                    "2017-02",
                    -0.10268542747723765
                ],
                [
                    "2017-03",
                    0.4192561746725333
                ],
                [
                    "2017-04",
                    -0.14124951417156334
                ],
                [
                    "2017-05",
                    0.31325071064208443
                ],
                [
                    "2017-06",
                    0.3329315514624965
                ],
                [
                    "2017-07",
                    0.30479302234090666
                ],
                [
                    "2017-08",
                    -0.06511548452103215
                ],
                [
                    "2017-09",
                    0.22170790717868766
                ],
                [
                    "2017-10",
                    0.1563715009859769
                ],
                [
                    "2017-11",
                    0.2546062533400264
                ],
                [
                    "2017-12",
                    0.23808727779375669
                ],
                [
                    "2018-01",
                    0.09309808585209155
                ],
                [
                    "2018-02",
                    0.21881180841792572
                ],
                [
                    "2018-03",
                    0.09923583202700856
                ],
                [
                    "2018-04",
                    0.17415760939480082
                ],
                [
                    "2018-05",
                    0.37607908046938543
                ],
                [
                    "2018-06",
                    0.10661614964969332
                ],
                [
                    "2018-07",
                    0.16878105749405617
                ],
                [
                    "2018-08",
                    0.3663075129254844
                ],
                [
                    "2018-09",
                    0.6229595448468039
                ],
                [
                    "2018-10",
                    0.15855848196539762
                ],
                [
                    "2018-11",
                    0.11740904069887391
                ],
                [
                    "2018-12",
                    0.33194885199234414
                ],
                [
                    "2019-01",
                    0.4354472085553492
                ],
                [
                    "2019-02",
                    0.24802183507933198
                ],
                [
                    "2019-03",
                    0.23336453567405246
                ],
                [
                    "2019-04",
                    0.1963684589182553
                ],
                [
                    "2019-05",
                    0.17440946227697457
                ],
                [
                    "2019-06",
                    0.1567212261750619
                ],
                [
                    "2019-07",
                    0.09340546644711527
                ],
                [
                    "2019-08",
                    0.22454829489878048
                ],
                [
                    "2019-09",
                    0.15566403950733396
                ],
                [
                    "2019-10",
                    0.26583932585052733
                ],
                [
                    "2019-11",
                    0.10570277468862443
                ],
                [
                    "2019-12",
                    0.4649028524486123
                ],
                [
                    "2020-01",
                    0.22548458007913832
                ],
                [
                    "2020-02",
                    0.07770105656384423
                ],
                [
                    "2020-03",
                    0.30625728356424026
                ],
                [
                    "2020-04",
                    0.27310339355036006
                ],
                [
                    "2020-05",
                    0.3690315681589447
                ],
                [
                    "2020-06",
                    0.7165056540836948
                ],
                [
                    "2020-07",
                    0.30878242005391887
                ],
                [
                    "2020-08",
                    0.7035487259551724
                ],
                [
                    "2020-09",
                    0.2592507480695338
                ],
                [
                    "2020-10",
                    0.6089803229850885
                ],
                [
                    "2020-11",
                    0.4692007338452717
                ],
                [
                    "2020-12",
                    0.24945771673148634
                ],
                [
                    "2021-01",
                    0.27912056553414394
                ],
                [
                    "2021-02",
                    0.4142301113705742
                ],
                [
                    "2021-03",
                    0.403470721600893
                ],
                [
                    "2021-04",
                    0.19994277907557495
                ],
                [
                    "2021-05",
                    0.3352411119353938
                ],
                [
                    "2021-06",
                    0.31977375206288805
                ],
                [
                    "2021-07",
                    0.36150292191885225
                ],
                [
                    "2021-08",
                    0.4943523565456332
                ],
                [
                    "2021-09",
                    0.36160491685420165
                ],
                [
                    "2021-10",
                    0.3615441488893304
                ],
                [
                    "2021-11",
                    0.28240779520577414
                ],
                [
                    "2021-12",
                    0.530205963356871
                ],
                [
                    "2022-01",
                    0.27995806792259814
                ],
                [
                    "2022-02",
                    0.2997133311888514
                ],
                [
                    "2022-03",
                    0.408629154249175
                ],
                [
                    "2022-04",
                    0.5659087266689942
                ],
                [
                    "2022-05",
                    0.3495690988924537
                ],
                [
                    "2022-06",
                    0.5028096478850511
                ],
                [
                    "2022-07",
                    0.35532370928790813
                ],
                [
                    "2022-08",
                    0.3690570631897583
                ],
                [
                    "2022-09",
                    0.2306320505915642
                ],
                [
                    "2022-10",
                    0.27073455067353486
                ],
                [
                    "2022-11",
                    0.3577397417368202
                ],
                [
                    "2022-12",
                    0.29288877785176737
                ],
                [
                    "2023-01",
                    0.3174612660697013
                ],
                [
                    "2023-02",
                    0.3511784036103136
                ],
                [
                    "2023-03",
                    0.22339135888715145
                ],
                [
                    "2023-04",
                    0.05124906537605128
                ],
                [
                    "2023-05",
                    0.5202781044067526
                ],
                [
                    "2023-06",
                    0.4768035274640376
                ],
                [
                    "2023-07",
                    0.27194315515776063
                ],
                [
                    "2023-08",
                    0.22387844671374815
                ],
                [
                    "2023-09",
                    0.3512463723946303
                ],
                [
                    "2023-10",
                    0.1681056941525393
                ],
                [
                    "2023-11",
                    0.3328927580174493
                ],
                [
                    "2023-12",
                    0.5570197664106027
                ],
                [
                    "2024-01",
                    0.4164251127065937
                ],
                [
                    "2024-02",
                    0.3553588994209658
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.3
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "UK"
            ],
            "selected": {},
            "show": true,
            "left": "right",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1987-11",
                "1989-06",
                "1992-02",
                "1995-06",
                "1995-12",
                "1996-03",
                "1996-08",
                "1997-05",
                "1999-08",
                "1999-11",
                "1999-12",
                "2000-07",
                "2001-01",
                "2001-04",
                "2001-10",
                "2003-05",
                "2003-09",
                "2004-03",
                "2005-08",
                "2005-09",
                "2005-10",
                "2006-03",
                "2006-08",
                "2006-09",
                "2006-11",
                "2007-01",
                "2007-08",
                "2008-01",
                "2008-02",
                "2008-04",
                "2008-05",
                "2008-07",
                "2008-10",
                "2008-11",
                "2009-01",
                "2009-04",
                "2009-06",
                "2009-07",
                "2009-09",
                "2009-11",
                "2009-12",
                "2010-06",
                "2010-07",
                "2010-08",
                "2010-09",
                "2010-11",
                "2010-12",
                "2011-01",
                "2011-05",
                "2011-06",
                "2011-07",
                "2011-09",
                "2011-10",
                "2012-01",
                "2012-02",
                "2012-03",
                "2012-04",
                "2012-05",
                "2012-06",
                "2012-07",
                "2012-08",
                "2012-09",
                "2012-10",
                "2012-11",
                "2012-12",
                "2013-01",
                "2013-02",
                "2013-03",
                "2013-04",
                "2013-05",
                "2013-07",
                "2013-08",
                "2013-09",
                "2013-10",
                "2013-11",
                "2013-12",
                "2014-01",
                "2014-02",
                "2014-03",
                "2014-04",
                "2014-05",
                "2014-06",
                "2014-07",
                "2014-08",
                "2014-09",
                "2014-10",
                "2014-11",
                "2014-12",
                "2015-01",
                "2015-02",
                "2015-03",
                "2015-04",
                "2015-05",
                "2015-06",
                "2015-07",
                "2015-08",
                "2015-09",
                "2015-10",
                "2015-11",
                "2015-12",
                "2016-01",
                "2016-02",
                "2016-03",
                "2016-04",
                "2016-05",
                "2016-06",
                "2016-07",
                "2016-08",
                "2016-09",
                "2016-10",
                "2016-11",
                "2016-12",
                "2017-01",
                "2017-02",
                "2017-03",
                "2017-04",
                "2017-05",
                "2017-06",
                "2017-07",
                "2017-08",
                "2017-09",
                "2017-10",
                "2017-11",
                "2017-12",
                "2018-01",
                "2018-02",
                "2018-03",
                "2018-04",
                "2018-05",
                "2018-06",
                "2018-07",
                "2018-08",
                "2018-09",
                "2018-10",
                "2018-11",
                "2018-12",
                "2019-01",
                "2019-02",
                "2019-03",
                "2019-04",
                "2019-05",
                "2019-06",
                "2019-07",
                "2019-08",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-07",
                "2020-08",
                "2020-09",
                "2020-10",
                "2020-11",
                "2020-12",
                "2021-01",
                "2021-02",
                "2021-03",
                "2021-04",
                "2021-05",
                "2021-06",
                "2021-07",
                "2021-08",
                "2021-09",
                "2021-10",
                "2021-11",
                "2021-12",
                "2022-01",
                "2022-02",
                "2022-03",
                "2022-04",
                "2022-05",
                "2022-06",
                "2022-07",
                "2022-08",
                "2022-09",
                "2022-10",
                "2022-11",
                "2022-12",
                "2023-01",
                "2023-02",
                "2023-03",
                "2023-04",
                "2023-05",
                "2023-06",
                "2023-07",
                "2023-08",
                "2023-09",
                "2023-10",
                "2023-11",
                "2023-12",
                "2024-01",
                "2024-02"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Trends in Media Sentiment on Lab-Grown Meat (UK)",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_156c00096bc14fc9b6eb4a8a000d68a5.setOption(option_156c00096bc14fc9b6eb4a8a000d68a5);
    </script>
</body>
</html>
