<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="e2aba73623c74c84a4ce51e33a1c261c" class="chart-container" style="width:1000px; height:600px; "></div>
    <script>
        var chart_e2aba73623c74c84a4ce51e33a1c261c = echarts.init(
            document.getElementById('e2aba73623c74c84a4ce51e33a1c261c'), 'white', {renderer: 'canvas'});
        var option_e2aba73623c74c84a4ce51e33a1c261c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "USA",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "stackStrategy": "samesign",
            "data": [
                [
                    "1980-08",
                    0.4215514552360938
                ],
                [
                    "1984-03",
                    0.16021429209743268
                ],
                [
                    "1988-01",
                    0.2378920444222256
                ],
                [
                    "1990-04",
                    0.11345183344822436
                ],
                [
                    "1992-04",
                    -0.5699429404660817
                ],
                [
                    "1994-02",
                    0.3833526665530675
                ],
                [
                    "1994-11",
                    0.8624233786639525
                ],
                [
                    "1995-04",
                    0.4333005255801069
                ],
                [
                    "1995-05",
                    -0.01322707517267948
                ],
                [
                    "1995-07",
                    -0.2879353960155719
                ],
                [
                    "1995-11",
                    0.12691118171714502
                ],
                [
                    "1996-11",
                    0.5873716449402087
                ],
                [
                    "1997-03",
                    0.010380447819403482
                ],
                [
                    "1997-06",
                    0.031414303535113264
                ],
                [
                    "1997-07",
                    0.36593756236293
                ],
                [
                    "1997-12",
                    -0.12280704472408521
                ],
                [
                    "1998-02",
                    -0.10345214849787074
                ],
                [
                    "1998-03",
                    0.02641004685899866
                ],
                [
                    "1998-05",
                    0.39347467460776914
                ],
                [
                    "1998-07",
                    -0.2977562731033042
                ],
                [
                    "1999-09",
                    -0.05862615784976155
                ],
                [
                    "1999-10",
                    -0.33734350346062175
                ],
                [
                    "2002-04",
                    -0.2756497689524002
                ],
                [
                    "2002-07",
                    -0.5241429642424165
                ],
                [
                    "2003-03",
                    0.6367629242640384
                ],
                [
                    "2005-08",
                    0.20337598043717306
                ],
                [
                    "2005-11",
                    -0.450733424976901
                ],
                [
                    "2005-12",
                    0.6625729291684455
                ],
                [
                    "2006-01",
                    -0.1615478092805165
                ],
                [
                    "2006-05",
                    -0.431899693632032
                ],
                [
                    "2006-06",
                    0.7333189443569812
                ],
                [
                    "2006-07",
                    0.15301478584210898
                ],
                [
                    "2007-04",
                    0.2907741192293738
                ],
                [
                    "2007-05",
                    0.40431471678362746
                ],
                [
                    "2007-10",
                    0.513745201286461
                ],
                [
                    "2007-11",
                    -0.7925449129659687
                ],
                [
                    "2008-01",
                    -0.045655468643923114
                ],
                [
                    "2008-02",
                    0.23620015024177546
                ],
                [
                    "2008-04",
                    0.15009804217991116
                ],
                [
                    "2008-05",
                    0.1432346016625935
                ],
                [
                    "2008-10",
                    0.1503632854863801
                ],
                [
                    "2009-03",
                    0.3060883414786519
                ],
                [
                    "2009-05",
                    0.03423181116753069
                ],
                [
                    "2009-07",
                    -0.0628286070702265
                ],
                [
                    "2009-08",
                    0.2460043697457643
                ],
                [
                    "2009-10",
                    0.4557144965582818
                ],
                [
                    "2009-11",
                    0.0005102944556487223
                ],
                [
                    "2009-12",
                    0.38551958852901286
                ],
                [
                    "2010-01",
                    -0.2501143059404255
                ],
                [
                    "2010-02",
                    0.5934985574596754
                ],
                [
                    "2010-05",
                    0.28986015147709654
                ],
                [
                    "2010-08",
                    -0.10134948890864177
                ],
                [
                    "2010-09",
                    -0.11944760853602346
                ],
                [
                    "2010-10",
                    0.554492509642081
                ],
                [
                    "2011-01",
                    0.24748563139345
                ],
                [
                    "2011-02",
                    0.1532476871297969
                ],
                [
                    "2011-03",
                    0.4535222035430382
                ],
                [
                    "2011-04",
                    0.36183574415926184
                ],
                [
                    "2011-05",
                    0.6974043536106579
                ],
                [
                    "2011-06",
                    0.033159914573995225
                ],
                [
                    "2011-07",
                    0.4083160272612258
                ],
                [
                    "2011-09",
                    -0.034685383335757956
                ],
                [
                    "2011-10",
                    0.3388631056888373
                ],
                [
                    "2011-11",
                    0.3590416319679313
                ],
                [
                    "2011-12",
                    -0.04806746237445842
                ],
                [
                    "2012-01",
                    -0.021031769778258838
                ],
                [
                    "2012-02",
                    0.32730999161778596
                ],
                [
                    "2012-03",
                    0.1961800380232068
                ],
                [
                    "2012-04",
                    0.16876476716327082
                ],
                [
                    "2012-05",
                    0.25022608936255786
                ],
                [
                    "2012-06",
                    -0.004463650590494259
                ],
                [
                    "2012-07",
                    0.12521366386237828
                ],
                [
                    "2012-08",
                    0.2670843801414065
                ],
                [
                    "2012-09",
                    0.14921043456493754
                ],
                [
                    "2012-10",
                    0.26278368906521155
                ],
                [
                    "2012-11",
                    0.1454377893907976
                ],
                [
                    "2012-12",
                    0.2363695167099468
                ],
                [
                    "2013-01",
                    0.25876612061614784
                ],
                [
                    "2013-02",
                    0.28392132914863766
                ],
                [
                    "2013-03",
                    0.21373241199845
                ],
                [
                    "2013-04",
                    0.5676186240713685
                ],
                [
                    "2013-05",
                    0.279502149471228
                ],
                [
                    "2013-06",
                    0.56093427113068
                ],
                [
                    "2013-07",
                    0.17180236291879178
                ],
                [
                    "2013-08",
                    0.20912541923860256
                ],
                [
                    "2013-09",
                    0.12858246210928087
                ],
                [
                    "2013-10",
                    0.3455239351682266
                ],
                [
                    "2013-11",
                    0.21023351197300102
                ],
                [
                    "2013-12",
                    0.16416662557588624
                ],
                [
                    "2014-01",
                    0.30805959751249196
                ],
                [
                    "2014-02",
                    0.24719406190658488
                ],
                [
                    "2014-03",
                    0.2151372577358347
                ],
                [
                    "2014-04",
                    0.34087381804623257
                ],
                [
                    "2014-06",
                    0.33374079987185595
                ],
                [
                    "2014-07",
                    0.2430997135573339
                ],
                [
                    "2014-08",
                    0.2624236392127137
                ],
                [
                    "2014-09",
                    0.383700556357453
                ],
                [
                    "2014-10",
                    0.07663276564339251
                ],
                [
                    "2014-11",
                    0.01715719359415082
                ],
                [
                    "2015-01",
                    0.15313415192624347
                ],
                [
                    "2015-02",
                    0.17401672900838588
                ],
                [
                    "2015-03",
                    0.30308130983515885
                ],
                [
                    "2015-04",
                    0.5252856143975573
                ],
                [
                    "2015-05",
                    -0.22239559511136292
                ],
                [
                    "2015-06",
                    0.045611987169772404
                ],
                [
                    "2015-07",
                    0.08949489653925947
                ],
                [
                    "2015-08",
                    0.2306911123239277
                ],
                [
                    "2015-09",
                    0.8137665120955657
                ],
                [
                    "2015-10",
                    0.25582358461532856
                ],
                [
                    "2015-11",
                    0.09948443730479692
                ],
                [
                    "2015-12",
                    -0.11830417047526776
                ],
                [
                    "2016-01",
                    0.30435020764560994
                ],
                [
                    "2016-02",
                    0.44620195465977003
                ],
                [
                    "2016-03",
                    0.18036625936997933
                ],
                [
                    "2016-04",
                    -0.06772486812219748
                ],
                [
                    "2016-05",
                    0.2916302225687116
                ],
                [
                    "2016-06",
                    0.354841228609653
                ],
                [
                    "2016-07",
                    0.2217405624978425
                ],
                [
                    "2016-08",
                    0.3725058957904193
                ],
                [
                    "2016-09",
                    0.3647881100206292
                ],
                [
                    "2016-10",
                    0.0637112649731015
                ],
                [
                    "2016-11",
                    0.25359974815814235
                ],
                [
                    "2016-12",
                    0.1324948365112722
                ],
                [
                    "2017-01",
                    0.40482422337351287
                ],
                [
                    "2017-02",
                    0.12898371416075033
                ],
                [
                    "2017-03",
                    0.39410802210770185
                ],
                [
                    "2017-04",
                    0.28247038685154535
                ],
                [
                    "2017-05",
                    0.34183201453954787
                ],
                [
                    "2017-06",
                    0.6022498329415021
                ],
                [
                    "2017-07",
                    0.40202036251905265
                ],
                [
                    "2017-08",
                    -0.024886086262189817
                ],
                [
                    "2017-09",
                    0.29000764339186946
                ],
                [
                    "2017-10",
                    0.2546425172254444
                ],
                [
                    "2017-11",
                    0.07405184599063884
                ],
                [
                    "2017-12",
                    0.32386113553335893
                ],
                [
                    "2018-01",
                    0.394040961038857
                ],
                [
                    "2018-02",
                    0.3831647115751474
                ],
                [
                    "2018-03",
                    0.1999785704062893
                ],
                [
                    "2018-04",
                    0.22652006538331354
                ],
                [
                    "2018-05",
                    0.3252719113749625
                ],
                [
                    "2018-06",
                    0.20197669421865505
                ],
                [
                    "2018-07",
                    0.36850224190214254
                ],
                [
                    "2018-08",
                    0.2946972639299736
                ],
                [
                    "2018-09",
                    0.355850851159691
                ],
                [
                    "2018-10",
                    0.31289614676459965
                ],
                [
                    "2018-11",
                    0.2885379287752768
                ],
                [
                    "2018-12",
                    0.20073968122914534
                ],
                [
                    "2019-01",
                    0.23781899095617362
                ],
                [
                    "2019-02",
                    0.27898678218778483
                ],
                [
                    "2019-03",
                    0.30739639540188796
                ],
                [
                    "2019-04",
                    0.2955654215751747
                ],
                [
                    "2019-05",
                    0.2826269425894799
                ],
                [
                    "2019-06",
                    0.3087312829373762
                ],
                [
                    "2019-07",
                    0.31902667007845814
                ],
                [
                    "2019-08",
                    0.2159949017742703
                ],
                [
                    "2019-09",
                    0.24948899678458936
                ],
                [
                    "2019-10",
                    0.4227388696742961
                ],
                [
                    "2019-11",
                    0.35572890414835484
                ],
                [
                    "2019-12",
                    0.22693832548418202
                ],
                [
                    "2020-01",
                    0.15153845388520043
                ],
                [
                    "2020-02",
                    0.28125942325572045
                ],
                [
                    "2020-03",
                    0.15774025909460793
                ],
                [
                    "2020-04",
                    0.34157765696865194
                ],
                [
                    "2020-05",
                    0.28017104213500404
                ],
                [
                    "2020-06",
                    0.2383287829077122
                ],
                [
                    "2020-07",
                    0.1994476011710081
                ],
                [
                    "2020-08",
                    0.35335207986025907
                ],
                [
                    "2020-09",
                    0.4524001197988237
                ],
                [
                    "2020-10",
                    0.36098089839507924
                ],
                [
                    "2020-11",
                    0.17307283896390271
                ],
                [
                    "2020-12",
                    0.23990952836763557
                ],
                [
                    "2021-01",
                    0.21413059137941567
                ],
                [
                    "2021-02",
                    0.010477484481992162
                ],
                [
                    "2021-03",
                    0.28567860170898224
                ],
                [
                    "2021-04",
                    0.16651336458292876
                ],
                [
                    "2021-05",
                    0.2899141180824212
                ],
                [
                    "2021-06",
                    0.3896178960073404
                ],
                [
                    "2021-07",
                    0.2703252148267308
                ],
                [
                    "2021-08",
                    0.2950873384484493
                ],
                [
                    "2021-09",
                    0.3059299543052995
                ],
                [
                    "2021-10",
                    0.28284692975782216
                ],
                [
                    "2021-11",
                    0.40945056936456303
                ],
                [
                    "2021-12",
                    0.4951191624429561
                ],
                [
                    "2022-01",
                    0.5864018332516542
                ],
                [
                    "2022-02",
                    0.3101969832719964
                ],
                [
                    "2022-03",
                    0.28892298725131443
                ],
                [
                    "2022-04",
                    0.36263143830268607
                ],
                [
                    "2022-05",
                    0.19435488180880997
                ],
                [
                    "2022-06",
                    0.3336532582069759
                ],
                [
                    "2022-07",
                    0.3224088748048015
                ],
                [
                    "2022-08",
                    -0.049011361871483736
                ],
                [
                    "2022-09",
                    0.0066621981852157015
                ],
                [
                    "2022-10",
                    0.31570208603757866
                ],
                [
                    "2022-11",
                    0.29161190327748465
                ],
                [
                    "2022-12",
                    0.23220757046527182
                ],
                [
                    "2023-01",
                    0.4430415359140534
                ],
                [
                    "2023-02",
                    0.2840446409592346
                ],
                [
                    "2023-03",
                    0.20173588828811279
                ],
                [
                    "2023-04",
                    0.14995816730747283
                ],
                [
                    "2023-05",
                    0.02880627434363519
                ],
                [
                    "2023-06",
                    0.28731562925046267
                ],
                [
                    "2023-07",
                    0.3871874824773783
                ],
                [
                    "2023-08",
                    0.262508067111722
                ],
                [
                    "2023-09",
                    0.2914659454867749
                ],
                [
                    "2023-10",
                    0.1967641547326236
                ],
                [
                    "2023-11",
                    0.18690409419779316
                ],
                [
                    "2023-12",
                    0.20335502531150684
                ],
                [
                    "2024-01",
                    0.37525990342667137
                ],
                [
                    "2024-02",
                    0.2401898399218386
                ],
                [
                    "2024-03",
                    0.394930618550636
                ],
                [
                    "2024-04",
                    0.3101401181198908
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 2,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.3
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "USA"
            ],
            "selected": {},
            "show": true,
            "left": "right",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1980-08",
                "1984-03",
                "1988-01",
                "1990-04",
                "1992-04",
                "1994-02",
                "1994-11",
                "1995-04",
                "1995-05",
                "1995-07",
                "1995-11",
                "1996-11",
                "1997-03",
                "1997-06",
                "1997-07",
                "1997-12",
                "1998-02",
                "1998-03",
                "1998-05",
                "1998-07",
                "1999-09",
                "1999-10",
                "2002-04",
                "2002-07",
                "2003-03",
                "2005-08",
                "2005-11",
                "2005-12",
                "2006-01",
                "2006-05",
                "2006-06",
                "2006-07",
                "2007-04",
                "2007-05",
                "2007-10",
                "2007-11",
                "2008-01",
                "2008-02",
                "2008-04",
                "2008-05",
                "2008-10",
                "2009-03",
                "2009-05",
                "2009-07",
                "2009-08",
                "2009-10",
                "2009-11",
                "2009-12",
                "2010-01",
                "2010-02",
                "2010-05",
                "2010-08",
                "2010-09",
                "2010-10",
                "2011-01",
                "2011-02",
                "2011-03",
                "2011-04",
                "2011-05",
                "2011-06",
                "2011-07",
                "2011-09",
                "2011-10",
                "2011-11",
                "2011-12",
                "2012-01",
                "2012-02",
                "2012-03",
                "2012-04",
                "2012-05",
                "2012-06",
                "2012-07",
                "2012-08",
                "2012-09",
                "2012-10",
                "2012-11",
                "2012-12",
                "2013-01",
                "2013-02",
                "2013-03",
                "2013-04",
                "2013-05",
                "2013-06",
                "2013-07",
                "2013-08",
                "2013-09",
                "2013-10",
                "2013-11",
                "2013-12",
                "2014-01",
                "2014-02",
                "2014-03",
                "2014-04",
                "2014-06",
                "2014-07",
                "2014-08",
                "2014-09",
                "2014-10",
                "2014-11",
                "2015-01",
                "2015-02",
                "2015-03",
                "2015-04",
                "2015-05",
                "2015-06",
                "2015-07",
                "2015-08",
                "2015-09",
                "2015-10",
                "2015-11",
                "2015-12",
                "2016-01",
                "2016-02",
                "2016-03",
                "2016-04",
                "2016-05",
                "2016-06",
                "2016-07",
                "2016-08",
                "2016-09",
                "2016-10",
                "2016-11",
                "2016-12",
                "2017-01",
                "2017-02",
                "2017-03",
                "2017-04",
                "2017-05",
                "2017-06",
                "2017-07",
                "2017-08",
                "2017-09",
                "2017-10",
                "2017-11",
                "2017-12",
                "2018-01",
                "2018-02",
                "2018-03",
                "2018-04",
                "2018-05",
                "2018-06",
                "2018-07",
                "2018-08",
                "2018-09",
                "2018-10",
                "2018-11",
                "2018-12",
                "2019-01",
                "2019-02",
                "2019-03",
                "2019-04",
                "2019-05",
                "2019-06",
                "2019-07",
                "2019-08",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-07",
                "2020-08",
                "2020-09",
                "2020-10",
                "2020-11",
                "2020-12",
                "2021-01",
                "2021-02",
                "2021-03",
                "2021-04",
                "2021-05",
                "2021-06",
                "2021-07",
                "2021-08",
                "2021-09",
                "2021-10",
                "2021-11",
                "2021-12",
                "2022-01",
                "2022-02",
                "2022-03",
                "2022-04",
                "2022-05",
                "2022-06",
                "2022-07",
                "2022-08",
                "2022-09",
                "2022-10",
                "2022-11",
                "2022-12",
                "2023-01",
                "2023-02",
                "2023-03",
                "2023-04",
                "2023-05",
                "2023-06",
                "2023-07",
                "2023-08",
                "2023-09",
                "2023-10",
                "2023-11",
                "2023-12",
                "2024-01",
                "2024-02",
                "2024-03",
                "2024-04"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Trends in Media Sentiment on Lab-Grown Meat (USA)",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_e2aba73623c74c84a4ce51e33a1c261c.setOption(option_e2aba73623c74c84a4ce51e33a1c261c);
    </script>
</body>
</html>
