<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="9d9a4532caf24af984725f0056ccbaac" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_9d9a4532caf24af984725f0056ccbaac = echarts.init(
            document.getElementById('9d9a4532caf24af984725f0056ccbaac'), 'white', {renderer: 'canvas'});
        var option_9d9a4532caf24af984725f0056ccbaac = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "boxplot",
            "name": "Positive Sentiment Scores",
            "legendHoverLink": true,
            "hoverAnimation": true,
            "boxWidth": [
                7,
                50
            ],
            "selectedMode": false,
            "data": [
                [
                    0.35119405,
                    0.8303437124999999,
                    0.94613483,
                    0.9760075500000001,
                    0.9862619
                ],
                [
                    0.33537847,
                    0.8477203975,
                    0.95361225,
                    0.9775201600000001,
                    0.9857963
                ],
                [
                    0.3829121,
                    0.8064800999999999,
                    0.94318245,
                    0.9755945625,
                    0.98579293
                ],
                [
                    0.37868837,
                    0.80674744,
                    0.9422298,
                    0.9743095,
                    0.98476046
                ],
                [
                    0.34230977,
                    0.740236475,
                    0.9247661,
                    0.97096175,
                    0.98533964
                ],
                [
                    0.38556924,
                    0.88781583,
                    0.9668273,
                    0.980767,
                    0.98572123
                ],
                [
                    0.36491948,
                    0.8146871,
                    0.9469822,
                    0.9737144,
                    0.9860815
                ]
            ],
            "label": {
                "show": true,
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                }
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                }
            },
            "zlevel": 0,
            "z": 2
        },
        {
            "type": "boxplot",
            "name": "Neutral Sentiment Scores",
            "legendHoverLink": true,
            "hoverAnimation": true,
            "boxWidth": [
                7,
                50
            ],
            "selectedMode": false,
            "data": [
                [
                    0.3453908,
                    0.7252276975,
                    0.8795772,
                    0.9456273374999999,
                    0.9747999
                ],
                [
                    0.35471407,
                    0.691963625,
                    0.8527280100000001,
                    0.93133324,
                    0.9748326
                ],
                [
                    0.38799518,
                    0.7567452,
                    0.8898214,
                    0.9471658,
                    0.9753695
                ],
                [
                    0.3495515,
                    0.7136699,
                    0.8693184,
                    0.93725345,
                    0.9726802
                ],
                [
                    0.3564039,
                    0.611953765,
                    0.800583,
                    0.90170218,
                    0.97329867
                ],
                [
                    0.36405787,
                    0.716363475,
                    0.8595461,
                    0.9367901,
                    0.97620654
                ],
                [
                    0.36226287,
                    0.70786754,
                    0.854804015,
                    0.929232125,
                    0.97372174
                ]
            ],
            "label": {
                "show": true,
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                }
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                }
            },
            "zlevel": 0,
            "z": 2
        },
        {
            "type": "boxplot",
            "name": "Negative Sentiment Scores",
            "legendHoverLink": true,
            "hoverAnimation": true,
            "boxWidth": [
                7,
                50
            ],
            "selectedMode": false,
            "data": [
                [
                    0.3465009,
                    0.54343645,
                    0.6617203,
                    0.7569053,
                    0.85911715
                ],
                [
                    0.34739286,
                    0.5631458,
                    0.67137397,
                    0.7599889375000001,
                    0.873705
                ],
                [
                    0.3534063,
                    0.55746865,
                    0.69255656,
                    0.7766363,
                    0.85520154
                ],
                [
                    0.36711475,
                    0.562351875,
                    0.6732291749999999,
                    0.76186087,
                    0.8526648
                ],
                [
                    0.3491766,
                    0.5839639249999999,
                    0.6897001,
                    0.7732424874999999,
                    0.8686263
                ],
                [
                    0.41419646,
                    0.57327497,
                    0.73430437,
                    0.7598966,
                    0.8753139
                ],
                [
                    0.34720957,
                    0.57112986,
                    0.68902016,
                    0.7767801,
                    0.86349386
                ]
            ],
            "label": {
                "show": true,
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                }
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                }
            },
            "zlevel": 0,
            "z": 2
        }
    ],
    "legend": [
        {
            "data": [
                "Positive Sentiment Scores",
                "Neutral Sentiment Scores",
                "Negative Sentiment Scores"
            ],
            "selected": {},
            "show": true,
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "fontSize": 12
            },
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "name": "Country",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 45,
                "margin": 8,
                "fontSize": 10
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "us",
                "uk",
                "singapore",
                "netherland",
                "italy",
                "israel",
                "france"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Sentiment Score",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 1,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Sentiment Score Distribution by Country and Sentiment",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_9d9a4532caf24af984725f0056ccbaac.setOption(option_9d9a4532caf24af984725f0056ccbaac);
    </script>
</body>
</html>
