<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/USA.js"></script>

</head>
<body >
    <div id="0b674097f81941db814a48daa50f19d9" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_0b674097f81941db814a48daa50f19d9 = echarts.init(
            document.getElementById('0b674097f81941db814a48daa50f19d9'), 'white', {renderer: 'canvas'});
        var option_0b674097f81941db814a48daa50f19d9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "map",
            "name": "Number of Events",
            "label": {
                "show": true,
                "margin": 8
            },
            "map": "\u7f8e\u56fd",
            "data": [
                {
                    "name": "Texas",
                    "value": 5
                },
                {
                    "name": "Mississippi",
                    "value": 4
                },
                {
                    "name": "Arkansas",
                    "value": 3
                },
                {
                    "name": "Michigan",
                    "value": 2
                },
                {
                    "name": "Massachusetts",
                    "value": 2
                },
                {
                    "name": "Tennessee",
                    "value": 2
                },
                {
                    "name": "Florida",
                    "value": 2
                },
                {
                    "name": "Missouri",
                    "value": 2
                },
                {
                    "name": "Virginia",
                    "value": 1
                },
                {
                    "name": "Vermont",
                    "value": 1
                },
                {
                    "name": "Nebraska",
                    "value": 1
                },
                {
                    "name": "South Dakota",
                    "value": 1
                },
                {
                    "name": "South Carolina",
                    "value": 1
                },
                {
                    "name": "Oklahoma",
                    "value": 1
                },
                {
                    "name": "North Dakota",
                    "value": 1
                },
                {
                    "name": "North Carolina",
                    "value": 1
                },
                {
                    "name": "Washington",
                    "value": 1
                },
                {
                    "name": "Wisconsin",
                    "value": 1
                },
                {
                    "name": "New Mexico",
                    "value": 1
                },
                {
                    "name": "Alabama",
                    "value": 1
                },
                {
                    "name": "Montana",
                    "value": 1
                },
                {
                    "name": "Arizona",
                    "value": 1
                },
                {
                    "name": "Maryland",
                    "value": 1
                },
                {
                    "name": "Louisiana",
                    "value": 1
                },
                {
                    "name": "Kentucky",
                    "value": 1
                },
                {
                    "name": "Kansas",
                    "value": 1
                },
                {
                    "name": "Iowa",
                    "value": 1
                },
                {
                    "name": "Indiana",
                    "value": 1
                },
                {
                    "name": "Illinois",
                    "value": 1
                },
                {
                    "name": "Hawaii",
                    "value": 1
                },
                {
                    "name": "Georgia",
                    "value": 1
                },
                {
                    "name": "Colorado",
                    "value": 1
                },
                {
                    "name": "California",
                    "value": 1
                },
                {
                    "name": "Wyoming",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "zlevel": 0,
            "z": 2,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "Number of Events"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "State Level Event in the US",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 5,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_0b674097f81941db814a48daa50f19d9.setOption(option_0b674097f81941db814a48daa50f19d9);
    </script>
</body>
</html>
